In [1]:
from sqlalchemy import create_engine
import pandas as pd

#### Create engine passing the address

In [2]:
engine = create_engine('postgresql://celia@localhost:5432/mytestdb')
engine

Engine(postgresql://celia@localhost:5432/mytestdb)

In [3]:
json_df  = pd.read_json('data/MOCK_DATA.json')
json_df

ValueError: Expected object or value

In [29]:
json_df.to_sql('Customer', engine, index=None)

#### Make a query

In [30]:
df_customer = pd.read_sql_query('select email, bday, first_name from "Customer"',con=engine)
df_customer

                               email        bday  first_name
0                 gdiaz0@gizmodo.com   7/13/2016      Gloria
1                pgarrett1@diigo.com  10/27/1993       Peter
2          bbradley2@themeforest.net   5/17/2004       Betty
3            rmorales3@shinystat.com    7/6/2013     Russell
4                 rsims4@sina.com.cn   11/9/1995       Randy
5                   jcruz5@wikia.com  10/25/2004       Jerry
6          mmedina6@seattletimes.com   3/23/2009    Michelle
7                    gellis7@hhs.gov    4/5/2002     Gregory
8                  blawson8@blog.com   5/29/2014      Brenda
9                lkelly9@pcworld.com  10/30/2006    Lawrence
10                 jalvareza@fc2.com   1/30/2010       Jason
11                hmarshallb@nps.gov   7/16/2003      Harold
12        scampbellc@theguardian.com  10/31/1990      Steven
13                    llongd@ask.com   5/16/2013        Lois
14                  dhowelle@mit.edu   12/8/1997       David
15                jwhitef@netlog.com   7/11/2013       Julie
16              eknightg@auda.org.au   8/30/2010        Eric
17            woliverh@imageshack.us  11/12/2004       Wayne
18                 cperryi@wikia.com   9/16/2006      Cheryl
19                ssanchezj@jugem.jp   5/21/1991        Sean
20               dwellsk@nytimes.com   10/2/2008      Donald
21               jhudsonl@github.com   3/21/2013      Justin
22         krobinsonm@feedburner.com  11/18/2007       Keith
23      gwilliamsonn@liveinternet.ru   5/28/1994      Gloria
24               jpierceo@forbes.com   7/26/1995       Jimmy
25               drosep@omniture.com    9/5/2010      Daniel
26               ajenkinsq@hc360.com   1/17/1993        Adam
27         jgardnerr@theguardian.com    9/4/1994  Jacqueline
28                   amorenos@nhs.uk   8/24/1990      Arthur
29              flewist@facebook.com   6/24/2009       Frank
..                               ...         ...         ...
970  acrawfordqy@acquirethisname.com   9/10/2013      Amanda
971            rwilliamsqz@zdnet.com   3/17/2002        Ruth
972           cwilliamsr0@devhub.com   4/15/2001   Christine
973   jelliottr1@businessinsider.com   3/29/2014     Jessica
974              aarnoldr2@lycos.com   1/31/2012        Alan
975         fcarterr3@technorati.com    9/5/2007     Frances
976          jhayesr4@opensource.org   3/30/2007       Jerry
977              rpricer5@cpanel.net    2/9/2014        Rose
978              amorrisonr6@nba.com   2/14/2015         Amy
979          erogersr7@csmonitor.com   4/24/2011        Earl
980             tgarciar8@oracle.com   2/26/1991        Tina
981          hweaverr9@newyorker.com   7/11/2004      Howard
982                 sdavisra@ted.com   10/7/2012     Shirley
983           lroserb@mayoclinic.com   11/3/1993    Lawrence
984          mbryantrc@geocities.com  12/31/2005     Melissa
985               wgomezrd@nymag.com   5/23/2009      Walter
986                kgibsonre@usa.gov   1/25/2015       Karen
987                 kpricerf@loc.gov   2/25/2000       Karen
988               psullivanrg@cbc.ca   5/26/2013       Paula
989        jmorrisonrh@123-reg.co.uk    7/9/2012        Judy
990             jolsonri@nbcnews.com   8/29/2000        Jane
991                 dsimsrj@ox.ac.uk    2/6/2012       Doris
992             aelliottrk@umich.edu    3/9/1998      Amanda
993               bmendozarl@cdc.gov   2/13/1999      Brenda
994                isimsrm@fotki.com    8/8/2016       Irene
995               jtaylorrn@usgs.gov   6/20/2000      Justin
996           phudsonro@sakura.ne.jp    6/7/2000       Paula
997              scampbellrp@wix.com  11/22/1997      Sandra
998                 vpaynerq@fda.gov   6/22/1996      Victor
999                rwarrenrr@mlb.com   11/9/1995     Richard

[1000 rows x 3 columns]

In [31]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
email         1000 non-null object
bday          1000 non-null object
first_name    1000 non-null object
dtypes: object(3)
memory usage: 31.2+ KB

In [33]:
df_customer.describe()

                   email      bday first_name
count               1000      1000       1000
unique              1000       953        199
top     bbellbc@gmpg.org  8/2/2008      James
freq                   1         2         12

#### Adding new element to a Table

In [10]:
json_df.columns

Index([u'bday', u'email', u'first_name', u'gender', u'id', u'last_name'], dtype='object')

In [34]:
new_df = pd.DataFrame([[pd.datetime(1990, 3, 19),'cintas.celia@gmail.com', 'celia', 'Female', 10000, 'cintas']], columns=json_df.columns)
new_df

        bday                   email first_name  gender     id last_name
0 1990-03-19  cintas.celia@gmail.com      celia  Female  10000    cintas

In [35]:
new_df.to_sql('Customer', engine, if_exists='append', index=None)

In [36]:
df_customer = pd.read_sql_query('select * from "Customer" WHERE id = 10000;', con=engine)
df_customer

,bday,email,first_name,gender,id,last_name
0,1990-03-19 00:00:00,cintas.celia@gmail.com,celia,Female,10000,cintas

#### Adding new Table from pandas

In [37]:
new_table = pd.DataFrame([], columns=['WineCode', 'Type', 'Vintage'])
new_table

Empty DataFrame
Columns: [WineCode, Type, Vintage]
Index: []

In [38]:
new_table.to_sql('Wine', engine, index=None)

#### Doing the same using SQLalchemy

In [16]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column

In [39]:
metadata = MetaData()

In [40]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )

In [41]:
metadata.create_all(engine)

### Adding new elements

In [42]:
data = [[1, 'White', 2000],
        [2, 'red', 2015],
        [3, 'rose', 2014]]

In [43]:
new_df = pd.DataFrame(data, columns=new_table.columns)

In [44]:
new_df.to_sql('Wine', engine, if_exists='append', index=None)

In [45]:
df_wine = pd.read_sql_query('select * from "Wine"',con=engine)
df_wine

  WineCode   Type Vintage
0        1  White    2000
1        2    red    2015
2        3   rose    2014

In [46]:
data = [[1, 'White', pd.datetime(2000, 10, 10)],
        [2, 'red', pd.datetime(2010, 9, 9)],
        [3, 'rose', pd.datetime(2011, 9, 9)]]

In [47]:
new_df = pd.DataFrame(data, columns=df_wine.columns)
new_df['Vintage']

0   2000-10-10
1   2010-09-09
2   2011-09-09
Name: Vintage, dtype: datetime64[ns]

In [48]:
new_df.to_json('/tmp/lero.json', date_unit='ns')

In [49]:
json_demo = pd.read_json('/tmp/lero.json')
json_demo

    Type              Vintage  WineCode
0  White   971136000000000000         1
1    red  1283990400000000000         2
2   rose  1315526400000000000         3

In [50]:
new_df

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [51]:
json_demo['Vintage'] = pd.to_datetime(json_demo['Vintage'], unit='ns')

In [52]:
json_demo

    Type    Vintage  WineCode
0  White 2000-10-10         1
1    red 2010-09-09         2
2   rose 2011-09-09         3

In [61]:
new_df

   WineCode   Type    Vintage
0         1  White 2000-10-10
1         2    red 2010-09-09
2         3   rose 2011-09-09

In [53]:
json_demo.columns.values

array([u'Type', u'Vintage', u'WineCode'], dtype=object)

In [54]:
json_demo.values

array([[u'White', Timestamp('2000-10-10 00:00:00'), 1],
       [u'red', Timestamp('2010-09-09 00:00:00'), 2],
       [u'rose', Timestamp('2011-09-09 00:00:00'), 3]], dtype=object)

In [64]:
pd.merge(json_demo, new_df, on=list(json_demo.columns.values), how='outer')

    Type    Vintage  WineCode
0  White 2000-10-10         1
1    red 2010-09-09         2
2   rose 2011-09-09         3

In [82]:
pd.Series?

In [65]:
score = pd.Series([10, 9, 8], name='score')
score

0    10
1     9
2     8
Name: score, dtype: int64

In [66]:
out = pd.concat([json_demo, score], axis=1)
new_row = pd.DataFrame([[4, 'espumeante',pd.datetime(2000,2,2)]], columns=new_df.columns)

In [67]:
append_df = new_df.append(new_row)

In [68]:
append_df.to_sql('Wine', engine, if_exists='append', index=None)